.pic img{margin-bottom:-8px;margin-top: 20px;}
.input1{font-size: 25px; padding: 1px; display: block; border: 1px solid #ccc; width: 97%;}
.input2{font-size: 25px; padding: 1px; display: block; border: 1px solid #ccc; width: 98%;}
.input3{font-size: 25px; text-align:right; float: right; width: 100px;}
.input4{font-size: 25px; text-align:right; float: right; width: 100px;}
.orderHeader{font-size: 30px; color: white; padding-left:5px; margin:20px 0px 2px; background-color:#009dd9;}

#large{font-size: 25px;}
#TableHeader{font-size: 25px;  font-weight:bold; margin:2px 0px 5px}
#TotalFormat{font-size: 25px;  font-weight:bold; margin:10px 0px 0px;text-align: right;}
#analyticTools {color: #009dd9; list-style-type: none; list-style-position: inside; margin:0; padding:0; font-size: 20px;}
.main{margin-left:340px;margin-right:40px;padding-bottom: 300px; width: 600px;}
p {font-size: 20px;}
body{font-family: "Times New Roman", Times, serif; font-size: 18px;margin: 0;}

.topnav {
    overflow: hidden;
    background-color: #009dd9;
    top: 0;
    left: 0;
    height: 55px;
    position:sticky; 
    z-index: 1;
}

.topnav .search-container { 
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1;
}

.topnav .search-container button {
    float: right;
    padding: 8px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;    
}

#navigation ul {
    overflow: hidden;
    background-color: #009dd9;
    height: 100%;
    width: 200px;
    list-style-type: none;
    top: 150px; 
    left: 0; 
    position: fixed; 
    overflow-x: hidden; 
    font-family: "Verdana", Geneva, sans-serif; 
    font-size: 20px;
}
#navigation ul a {
    float: left;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    transition: .1s;    
}

#navigation ul a:hover{
    font-size: 2em;
    transition: .1s ;
}

img.sticky {
    position: fixed;
    top: 60px;
    width: 250px;
  }

img:hover {
    animation: bounce-up 1.0s forwards;
}

@keyframes bounce-up {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

.header{
    font-size: 50px; 
    padding-top: 20px;
    color: #009dd9; 
    animation: bounce-from-top 1.5s forwards; 
    animation-timing-function: ease;
}
@keyframes bounce-from-top {
    0%   { transform: translateY(-100px); }
    20%  { transform: translateY(0); }
    40%  { transform: translateY(-10px); }
    60%  { transform: translateY(0); }
    80%  { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
.button1{
    background-color: #6b6d6f;
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 100%;
}
.button2{
    background-color: #009dd9;
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 100%;
    animation: glowing 6s infinite;      
}
.button3{
    background-color: #6b6d6f;
    border: none;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 100px;
}
.button1:hover {animation: button-hover-animation .5s;}
.button2:hover {animation: button-hover-animation .5s;}
.button3:hover {animation: button-hover-animation .5s;}

.button1:active {animation: short-press .1s;}
.button2:active {animation: short-press .1s;}
.button3:active {animation: short-press .1s;}
@keyframes glowing {
    0% { background-color: #009dd9; box-shadow: 0 0 0px #009dd9; }
    10% { background-color: #009cd99c; box-shadow: 0 0 20px #009dd9; }
    20% { background-color: #009dd9; box-shadow: 0 0 0px #009dd9; }
    100% { background-color: #009dd9; box-shadow: 0 0 0px #009dd9; }
  }

@keyframes short-press {
  0%    { transform: scale(1);  }
  50%   { transform: scale(.8);  }
  100%  { transform: scale(1);  }
}

input:hover {
    background-color: #ebebeb;
    transition: all .5s;
} 
select:hover {
    background-color: #ebebeb;
    transition: all .5s;
} 


@keyframes button-hover-animation {
    0%     { transform: scale(1.05);  }    
    40%    { transform: translateY(-10px); }
    60%    { transform: translateY(0); }
    80%    { transform: translateY(-5px); }
    90%    { transform: translateY(0); }
    100%   { transform: scale(1);  }
}